section {
  padding: 2.5rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  app-expense-filter {
    display: flex;
    justify-content: center;
  }

  app-expense-list {
    display: flex;
    justify-content: center;
  }
}
