$color-white: #ffffff;
$color-black: #000;

$color-common-900: #0f172a;
$color-common-800: #1e293b;
$color-common-700: #334155;
$color-common-600: #475569;
$color-common-500: #64748b;
$color-common-400: #94a3b8;
$color-common-300: #cbd5e1;
$color-common-200: #e2e8f0;
$color-common-100: #f1f5f9;

$color-primary-900: #054842;
$color-primary-800: #0a5e56;
$color-primary-700: #0f7269;
$color-primary-600: #16857b;
$color-primary-500: #3e9d94;
$color-primary-400: #67b4ad;
$color-primary-300: #91cac5;
$color-primary-200: #bbdfdc;
$color-primary-100: #e7f4f3;

$color-warning-900: #7f1d1d;
$color-warning-800: #991b1b;
$color-warning-700: #b91c1c;
$color-warning-600: #dc2626;
$color-warning-500: #ef4444;
$color-warning-400: #f87171;
$color-warning-300: #fca5a5;
$color-warning-200: #fecaca;
$color-warning-100: #fee2e2;

$color-yellow-900: #713f12;
$color-yellow-800: #854d0e;
$color-yellow-700: #a16207;
$color-yellow-600: #ca8a04;
$color-yellow-500: #eab308;
$color-yellow-400: #facc15;
$color-yellow-300: #fde047;
$color-yellow-200: #fef08a;
$color-yellow-100: #fef9c3;

$color-blue-100: #0b1354;
$color-blue-800: #075985;

$color-gray-100: #828282;
