@import "./colors.scss";

@mixin display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin card-box-shadow {
  box-shadow: 0.125rem 0.25rem 0.625rem 0.125rem
    rgba($color: $color-common-800, $alpha: 0.2);
}
