@import "../../../../../assets/scss/styles";

.header {
  display: grid;
  // grid-template-columns: 5.75rem 8rem 5rem 6.5rem 1fr 1fr 1fr 9.5rem 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  gap: 2.5rem;
  align-items: center;
  text-align: center;
  height: 5rem;
  border-bottom: 1px solid $color-common-200;
  padding: 0 4rem;

  strong {
    @include text-sm-bold;
    color: $color-common-600;
    text-transform: uppercase;
  }
}
