@use "../../../../assets/scss/styles" as *;

.validation-container {
  display: flex;
  max-width: 20rem;
  flex-wrap: wrap;
  justify-content: left;

  .validator {
    display: flex;
    flex-direction: row;
    max-width: 9.5rem;
    width: 100%;
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;

    img {
      height: 1rem;
      width: 1rem;
    }

    span {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      color: $color-warning-600;
      white-space: nowrap;
      @include text-xs-regular;

      &.valid {
        color: $color-primary-600;
      }
    }
  }
}
